<!--We ONLY have the data that is pertinent to our homepage. The rest is all dealt with using the layout template-->

{% extends "layout.html" %}

{% block content %}

    <body xmlns="http://www.w3.org/1999/html">

        <div class="row">

            <div class="column">

                <img style="padding-left: 140px" height="400" src="{{ about_image }}" alt="User Image">

            </div>

            <!-- <div class="column">

                <img style="padding-left: 100px" height="400" src="{{ mntn_img }}" alt="User Image">

            </div> -->

        </div>
        
        <br>
        
        <h3 style="padding-left: 160px" class="home_header list-group-item-light " ><ins>Machine Learning Engineer</ins></h3>

        <div style="padding-bottom: 200px" class="about_text" >
            <br>
            
                I am a detail-oriented Machine Learning Engineer with a proven ability to deliver complex insights using data analytics and
                advanced methodologies. I'm known for a great analytical skillset, strong attention to detail, and significant
                ability to work in a team environment. 
                <br>
                <br>
                Adept with predictive modeling, data processing, and numerous
                data mining algorithms, I have consistently achieved outstanding results throughout my masters degree in
                Artificial Intelligence and expect to graduate with distinction in September 2020.<br><br>

                I completed two years of preperation for my masters degree in Artificial Intelligence; employing a maths tutor, learning two 
                coding languages and completing various personal projects. My experience demonstrates a proven ability to 
                learn new technology and immediately find ways to apply these new skills. <br><br>
                
                Learning to code and embarking on a career as a Machine Learning Engineer has been the most rewarding experience of my life, 
                and I look forward to forging a long, successful and happy career.<br><br>

                <hr style="border-top: 2px dotted black"/>
                <br>
                <b>"I could either watch it happen or be a part of it."</b>
                <br>
                <i>- Elon Musk</i>


            </span>


        </div>


    </body>


{% endblock content %}

