<!--We ONLY have the data that is pertinent to our homepage. The rest is all dealt with using the layout template-->

{% extends "layout.html" %}

{% block content %}

    <body>

        <video style="align-content: space-around" height="400" muted autoplay loop>

            <source src="{{ home_img }}" type="video/mp4"  >

        </video>
        
        <br>
        <br>

        <h2 style="padding-left: 160px" class="home_header list-group-item-light " ><ins>Frank Mitchell AI Portfolio.</ins></h2>

        <div class="home_text" >
            <span>
                <i>"It is sometimes a mistake to climb; it is always a mistake never
                    even to make an attempt."
                </i>
            </br> 
            </br>
                <b>- "The Sandman" by Neil Gaimann.</b>
            </span>


        </div>


    </body>


{% endblock content %}  