<!--This is the parent template that all other HTML templates inherit from-->

<!-- We wanto have anything that is likely to be repeated-->

<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- We add below here the link to our main.css file to add some styling to the page-->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">


	{% if title %}
	    <title> Frank Mitchell AI - {{title}} </title>
	{% else %}
	    <title> Frank Mitchell AI </title>
	{% endif %}

</head>
<body>

	<!-- Here we are adding pre-written code snippets to give our website some style-->

	<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
	    <div class="container">
	      <a class="navbar-brand mr-4" href="/">Frank Mitchell AI</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
	        <div class="navbar-nav mr-auto">

	        <!-- COMMENTING THESE LINKS OUT FOR NOW AS WE DONT HAVE FUNCTIONS FOR THESE. UNCOMMENT AND DEBUG TO FIND OUT WHERE THEY LEAD
	          <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
	          <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
	        </div>
	    -->
	        
	        <!-- Navbar Right Side -->
	        
	        <div class="navbar-nav">

	        	<!-- Here we use a conditional to check if the user is logged in, if so, remove the login and register anchors-->


                <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
				<!-- PROJECTS COMMENTED OUT FOR NOW, UNTIL I CAN DO PROPER WRITE UP. 

				<a class="nav-item nav-link " href="{{ url_for('projects') }}">Projects</a>
				-->

				<a class="nav-item nav-link navbar-right" target="_blank"  href="https://github.com/fmitchell259/">Github Profile</a>
				<a class="nav-item nav-link navbar-right" target="_blank"  href="https://www.kaggle.com/fmitchell259">Kaggle Profile</a>
                <a title="Please click to download C.V." class="nav-ietm nav-link md-4" href="{{ url_for('download_cv', doc_name='FrankMitchell_CV.pdf') }}">C.V.</a>
				<!--
				<a class="nav-item nav-link" href="{{ url_for('contact') }}">Contact</a>
				-->
	        </div>
	      </div>
	    </div>
	  </nav>
	</header>

	<!-- Here we now create a block that our child templates can override.-->

	<!--We need to add a div header alongw with the bootstrap class "container" as this will give our website nice padding etc.-->

	<!--This is another code snippet-->

	<main role="main" class="container">
	  <div class="row">
	    <div class="col-md-8">

		  <!-- We need to tell our layout.html to accept flash messages on any page-->
		  <!-- get_flashed_messages is in-built and will grab any and all flashed messages-->
		  <!-- The with_category argument allows us to grab the type of flash message, this is passed as an argument within our forms.py file-->

		  {% with messages = get_flashed_messages(with_categories=true) %}

		  	{% if messages %}

		  		{% for category, message in messages %}

		  			<div class="alert alert-{{ category }} ">

		  				{{ message }}

		  			</div>

		  		{% endfor %}

		  	{% endif %}

		  {% endwith %}

	      {% block content %}{% endblock %}
	    </div>
	    <div class="col-md-4 mx-auto ">
	      <div class="content-section">
	        <h3>Personal Projects</h3>
	        <p class='text-muted'>A list of links to coding projects.
	          <ul class="list-group">
	            <a class="list-group-item list-group-item-light" target="_blank" href="https://github.com/fmitchell259/Deep_Neural_Net" >Deep Neural Network<a/>
	            <a class="list-group-item list-group-item-light" target="_blank" href="https://github.com/fmitchell259/2048_with_Monte_Carlo" >Monte Carlo Tree Search with 2048<a/>
	            <a class="list-group-item list-group-item-light" target="_blank" href="https://github.com/fmitchell259/COVID19_Clustering" >Feature Engineering using K-means<a/>
	            <a class="list-group-item list-group-item-light" target="_blank" href="https://github.com/fmitchell259/portoflio_website">Portfolio Website Source Code<a/>
	          </ul>
	        </p>
	      </div>
	    </div>
	  </div>
	</main>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</body>
</html>